*{
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
}
/*首页*/
.xt{
    font-family: "楷体";
    font-size: 3px;
    width: 80%;
}
.box{
    position: relative;
    width: 1100px;
    height: 1800px;
    margin: 0 auto;
    border:1px solid #aaa;
}
.header{
	/*background-color: red;*/
    height: 65px;
}
.header_div{
	width: 50%;
	height: 65px;
	float: left;
}
.header_div span{
	line-height: 65px;
	margin-left: 20px;
	font-size: 17px;
}
.tp{
    /*position: absolute;*/
    width: 138px;
}
.nav{
    /*background-color: blue;*/
    height: 50px;
}
.nav ul li{
     float: left;
     margin-left: 15px;
     list-style-type: none;

}
.nav ul{
     margin: 0 auto;
     height: 40px;
}
.nav ul li a{
     font-family: "楷体";
     font-weight: bold;
     font-size: 20px;
     color: black;
     display: block;
     text-align: center;
     text-decoration: none;
     height: 50px;
     line-height: 50px;
}
.nav ul li:hover{
     background-color:white;
}
.nav ul li a:hover{
    color: red;
}
.lb{
     width:700px;
     height: 250px;
     position: absolute;
     border: 2px solid #fff;
     top:120px; 
     left:20px; 
}
.wk{
     position: absolute;
     top: 120px;
     left: 770px;
     height: 250px;
     width: 300px;
     border: 1px solid lightgray;
}
.title{
     display: block;
     height: 30px;
     width: 100%;
     border-bottom: 1px solid lightgray;
}
.yuan{
     display: block;
     width: 30px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     float: left;
}
.bt{
     display: block;
     width: 200px;
     height: 30px;
     float: left;
     line-height: 30px;
     font-weight: bold;
     font-family: "微软雅黑";
     color:red;
}
.cont{
     clear: both;
     height: 220px;
     width: 100%;
     overflow: hidden;
}

.cont ul li  {
     width: 100%;
     height: 40px;
     border-bottom: 1px dotted #555;
     list-style-type: none;
}
.cont ul li a{
     font-size: 16px;
     font-family: "宋体";
     color: black;
     text-decoration: none;
}
.cont ul li:hover{
    background-color: lightgray;

}
.cont ul li:hover a{
    color: red;
}

#bk2{
    float: top;
}
.sdjd_img{
    position:absolute;
    top:395px;
    left:20px;
    width:140px;
    height:50px;
}
.nav1{
     position: absolute;
     width: 50%;
     height: 18px;
     left: 180px;
     top:410px;
}     
.nav1 ul li{
     float: left;
     list-style-type: none;
     width:18%;
     border-left: 1px solid #abc;
     border-right: 1px solid #abc;
}
.nav1 ul{
     margin: 0 auto;
     width: 80%;
     height: 18px;
}
.nav1 ul li a{
     font-family: "楷体";
     font-size: 18px;
     color: black;
     display: block;
     text-align: center;
     text-decoration: none;
     height: 18px;
     line-height: 18px;
}
.nav1 ul li:hover a{
    color:red;
}
#k1{
     position: absolute;
     top:460px;
     left:20px;
     width:65%;
     height: 350px;
     border: 1px solid lightgray;

}
.k2{
     position: absolute;
     top:50px;
     left:330px;
     width:330px;
     height:250px; 
     margin:auto;
     padding:10px;"
 
}
.wz1{
     color:#555;
     font-family: "宋体"
}
#x1{
     position: absolute;
     top:460px;
     left:20px;
     width:65%;
     height: 350px;
     border: 1px solid lightgray;
     display: none;
}
.x2{
     position: absolute;
     top:50px;
     left:30px;
     width:330px;
     height:250px; 
     /*border:1px solid red;*/
     margin:auto;
     padding:10px;"
 
}
.x3{
     /*background-color: blue;*/
     position: absolute;
     bottom: 30px;
     right: 30px;
}
.wz2{
     color:#555;
     font-family: "宋体"

}
#s1{
     position: absolute;
     top:460px;
     left:20px;
     width:65%;
     height: 350px;
     border: 1px solid lightgray;
     display: none;
}
.s2{
     position: absolute;
     top:45px;
     left:30px;
     width:330px;
     height:250px; 
     /*border:1px solid red;*/
     margin:auto;
     padding:10px;"
 
}
.wz3{
     color:#555;
     font-family: "宋体"
}
#fd{
     position: absolute;
     top:430px;
     right:100px;
     width:300px;
     height:160px; 
     border:none;
}
.kk{
     position: relative;
     float: left;
     width:350px;
     height: 200px;
     top: 780px;
     left: 20px;
     border: 1px solid lightgray;
}
.kk:hover{
    background-color:lightgray;
}
.xb1{
     font-family: "微软雅黑";
     font-size: 20px;
     color: black;
     text-decoration: none;
}
.kk:hover a{
    color: red;
}
.kk:hover{
    background-color:lightgray;
}
.kk1{
     position: relative;
     float: left;
     width:350px;
     height: 200px;
     top: 860px;
     left: 20px;
     border: 1px solid lightgray;
}
.kk1:hover{
    background-color:lightgray;
}
.xb1{
     font-family: "微软雅黑";
     font-size: 20px;
     color: black;
     text-decoration: none;
}
.kk1:hover a{
    color: red;
}
.kk1:hover{
    background-color:lightgray;
}
.mz:hover{
    background-color:lightgray; 
}
.yk{
     border: 1px solid lightgray;
     position: absolute;
     width: 300px;
     height: 350px;
     top: 460px;
     left: 770px;
}
.title1{
     display: block;
     height: 30px;
     width: 100%;
     border-bottom: 1px solid lightgray;
}
.yuan1{
     display: block;
     width: 30px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     float: left;
}
.bt1{
     display: block;
     width: 200px;
     height: 30px;
     float: left;
     line-height: 30px;
     font-weight: bold;
     font-family: "微软雅黑";
     color:red;
}
.cont{
     clear: both;
     height: 220px;
     width: 100%;
     overflow: hidden;
}

.cont0 ul li  {
     width: 100%;
     height: 44.5px;
     border-bottom: 1px solid lightgray;
     list-style-type: none;
}
.cont0 ul li a{
     font-size: 16px;
     font-family: "宋体";
     color: black;
     text-decoration: none;

}
.cont0 ul li:hover{
    background-color: lightgray;

}
.cont0 ul li:hover a{
    color: red;
}
/*首页*/
/*排行榜*/
.dk{
     position: relative;
     margin: 30px auto;
     width: 90%;
     border:1px solid lightgray;
}
.xk1{
     margin: 0 auto;
     width: 100%;
     height:45px;
     border-bottom:1px solid lightgray;
}
.wq{
     display: block;
     height: 40px;
     line-height: 40px;
     color: brown;
     font-family: "宋体";
     font-size: 25px;
     font-weight: bold;
}
.xk2{
     position: relative;
     width: 24.89%;
     height: 300px;
     float: left;
     border-right: 1px solid lightgray;
     border-bottom: 1px solid lightgray;
}
.xk2 span{
     width:248px;
     height: 30px;
     display: block; 
     text-align: center;
}
.zt{
     margin:30px auto;
     height: 70%;
     width:160px;
}
.cfys{
    font-weight:bold;
    color:brown;
    position:absolute;
    top:30px;
    left:200px;
    width:20px;
}
.zzc{
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    background:rgba(0,0,0,0.3);
    width: 100%;
    height: 0;
    /*display: none;*/
    transition:all 0.5s;
}
.xk2:hover .zzc{
    height: 100%;

}
.xk2:hover .js1{
    display: block;
}
.js1{
     display: none;
     width: 70%;
     margin: 120px auto;
     font-family: "宋体";
     font-size: 14px;
     color: white;
}
/*登录注册界面*/
/*登录注册界面*/
.bbox{
    position: relative;
    width: 500px;
    height: 658px;
    margin: 20px auto;
    
}
.bbox img{
    width: 100%;
    height: 100%;
}
.bzzc{
    position: absolute;
    top: 0px;
    width: 500px;
    height: 658px;
    background: rgba(61,76,116,0.8);
}
.btou{
    position: absolute;
    top: 230px;
    left: 70px;
    width: 70%;
    height: 40px;
    /*background: red;*/
    /*border:1px solid #000;*/
}
#denglu{
    margin-left: 15px;
}

#zhuce{
    margin-left: 15px;
}
.bbox .form1{
    /*display: none;*/
    position: absolute;
    top: 270px;
    left: 70px;
    /*border: 1px solid #000;*/
    width: 70%;
    height: 350px;
}
.byhm{
    font-size: 13px;
    color: #999;
    font-weight: bold;
}
.input1{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 15px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
}
.bmima{
    position: absolute;
    top: 60px;
    font-weight: bold;
    font-size: 13px;
    color: #999;
}
.input2{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 80px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
}
.input3{
    position: absolute;
    top: 130px;
}
.input4{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 150px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}
.bjz{
    font-size: 13px;
    position: absolute;
    color: #999;
    top: 127px;
    left: 20px;
    font-weight: bold;
}
.bbox .form2{
    /*display: none;*/
    position: absolute;
    top: 270px;
    left: 70px;
    /*border: 1px solid #000;*/
    width: 70%;
    height: 350px;
}
.remima{
    position: absolute;
    top: 130px;
    font-weight: bold;
    font-size: 13px;
    color: #999;
}
.input5{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 150px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
}
.bdianzi{
    position: absolute;
    top: 195px;
    font-weight: bold;
    font-size: 13px;
    color: #999;
}
.input6{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 215px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
}
.input7{
    position: absolute;
    background: rgba(61,76,116,0.5);
    top: 280px;
    width: 340px;
    border-radius: 50px;
    border:none;
    left: 10px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}
/*图书基本信息*/
/*图书基本信息*/
.btable{
	position: absolute;
	top: 80px;
	left: 50px;
}
.ct_img{
    width: 150px;
    height: 200px;
    border:1px solid #aaa;
    margin-bottom: 20px;
}
.chead h2{
    color: #666;
    padding-bottom: 20px;
}
.ct_img img{
    width: 100%;
    height: 100%;
}
.ct_xinxi{
    width: 300px;
    height: 200px;
}
.ct_xinxi li{
    font-size: 15px;
}

.czynr{
    width: 900px;
    padding-bottom: 50px;
    border:1px solid #aaa;
}
.czyhead{
   	padding-bottom: 10px;
    font-size: 14px;
    color: green;
}
p{
    margin-top: 20px;
    margin-left: 10px;
    text-indent:2em;
}
.czzjjhead{
	margin-top: 10px;
	padding-bottom: 10px;
    color: green;
    font-size: 14px;
}
.czzjj{
    width: 900px;
    padding-bottom: 50px;
    border:1px solid #aaa;
}

.cdphead{
	margin-top: 10px;
	padding-bottom: 10px;
    color: green;
    font-size: 14px;
}
.cdp{
    width: 900px;
    border:1px solid #aaa;
}
.cdp .li1{
    border-bottom: 1px solid ;
    width: 90%;
    margin: 20px auto;
	padding-bottom: 30px;
}
.woyaoshuping{
	margin-left: 800px;
    width: 100px;
    height: 40px;
    background: pink;
}
.woyaoshuping span{
    text-align:center;
    display: block;
    line-height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.tishikuang{
	margin-left: 250px;
    background: #fff;
    border:1px solid #ccc;
    width: 400px;
    height: 250px;
}
.tishikuang span{
    text-align: center;
    display: block;
    margin-top:80px;
    font-size: 17px;
}
.tishikuang a{
    margin-top:40px;
    margin-left: 140px;
    display: block;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    width: 120px;
    height: 40px;
    background: green;
}
.xk2 a{
    display: block;
    width: 100%;
    height: 300px;
}
.tab1{
	text-align: center;
}
.tab1 tr{
	height: 35px;
}
.miaoshu{
	padding: 10px;
	/*width: 170px;*/
	overflow: hidden;
	height: 75px;
	width: 10em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
